
body {
    margin: 0px;
    background-color:white
}

.header {
    display: flex;
    justify-content: center;
}

.header img {
    max-width: 60vw;
    padding: 12px;
}

.colour1 {
    background-color: #4e9dde   
}

.colour2 {
    background-color: hsl(27, 69%, 59%);
}


p {
    margin: 0px;
    padding: 8px;
}

.vhs-tapes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.vhs-tapes img {
    max-width: 30vw;
    padding: 12px;
    min-width: 300px;
}

.vhs-tapes img:hover {
    max-width: 31vw;
}