@import url('https://fonts.cdnfonts.com/css/cascadia-code');

body {
    margin: 0px;
    background-color: #ffffff;
    color: #df8f4e;
    text-align: center;
    font-size: 3vw;
    font-family: 'Cascadia Code', sans-serif;
}


.header {
    display: flex;
    justify-content: center;
}

.header img {
    max-width: 60vw;
    padding: 12px;
}

@media (max-width: 1000px)
{
    .header img {
        max-width: 90vw;
        padding: 12px;
    }

    body {
        font-size: 6vw;
    }
}

.colour1 {
    background-color: #4e9dde   
}

.colour2 {
    background-color: #df8f4e;
}


p {
    margin: 0px;
    padding: 8px;
}

.vhs-tapes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.vhs-tapes img {
    max-width: 30vw;
    padding: 12px;
    min-width: 300px;
    transition: 0.3s;
}

@media (max-width: 1000px)
{
    .vhs-tapes img {
        max-width: 90vw;
    }
}

@media (min-width: 1000px)
{
    .vhs-tapes img:hover {
        max-width: 31vw;
    }
}

.showcase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.showcase-left, .showcase-right {
    min-width: 30vw;
    text-align: justify;
    max-width: 45vw;
}

.showcase-text {
    font-size: 2vw;
}

.yt-video {
    aspect-ratio: 16/9;
    width: 40vw;
}

@media (max-width: 1000px)
{
    .showcase-left, .showcase-right {
        min-width: 80vw;
    }
    .yt-video {
        width: 100%;
    }
}